.first {
  width: 250;
  height: 100%;
  background: red;
  overflow: hidden;
}

.insidebox {
  position: relative;
  width: 70%;
  height: 35%;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 5%;
  background: rgb(170, 225, 170);
  border: 10px;
  border-style: inset;
  color: rgb(32, 32, 33);
}

.output {

  position: relative;
  font-family: Tahoma;
  color: rgb(76, 75, 75);
  text-align: center;
  font-size: 400%;

  padding: 0% 2% 0% 2%;
  overflow: hidden;
  box-sizing: border-box;

}

.flex1 {
  margin-left: 38%;
  margin-right: 38%;
  border: 2px;
  border: thick double #32a1ce;
  border-radius: 5%;
  overflow: hidden;
}

.box1 {
  height: 300px;
  padding-bottom: 0%;
}

.flex2 {
  margin-left: 0%;
  margin-right: 0%;
  border: thick double #32a1ce;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
}

.height {
  height: 90px;
  width: 50%;
}

.weight {
  height: 90px;
  width: 50%;
}

.input1 {
  width: 80%;
  height: 45%;
  margin-left: 10%;
  margin-top: 1%;
  background: rgb(170, 225, 170);
  font-family: Tahoma;
  font-weight: bold;
  border: thick double #32a1ce;
  border-style: inset;
}

.spanname {
  padding-left: 21%;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(241, 221, 141);
}

.bmical {
  padding-left: 15%;
  font-weight: bold;
  font-size: 200%;
  color: rgb(243, 228, 142);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.button1 {
  margin-left: 7%;
  margin-top: 5%;
  width: 40%;
  border-style: outset !important;
  background-color: rgb(34, 139, 34) !important;
  border: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black !important;
  font-weight: bolder;
}

.instruction {
  /* padding-left: 15%; */

  margin-left: 19%;
  font-size: small;
  color: rgb(241, 221, 141);
  /*background-color: rgb(117, 148, 240);*/

}

.button2 {
  margin-left: 7%;
  margin-top: 5%;
  width: 40%;
  border-style: outset !important;
  background-color: rgb(255, 0, 0) !important;
  border: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black !important;
  font-weight: bolder;
  text-decoration-color: blue;
}